<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <%- include('partials/head') %>
    </head>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <div style="width: 600px; margin: 0 auto; padding-bottom: 70px;" >
        <h1 style="padding-left: 30px;">File has been uploaded successfully.</h1>
        <a href="/" class="button secondary" style="float: left;">Return to the home page</a>
        <a href="add_new" class="button tertiary" style="float: right;">Add new item to the catalogue</a>
    </div>
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>